/* abstracts */
.boton, .boton-clasico, .boton-alerta, .boton-activo {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5C1540;
  border-color: #5C1540;
  background-color: #E8DDD9;
  border-width: 1px;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  justify-content: space-around;
  margin: 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }
  .boton:hover, .boton-clasico:hover, .boton-alerta:hover, .boton-activo:hover {
    background-color: #5C1540;
    color: #fff; }

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Oxygen', sans-serif;
  grid-template-areas: "header header" "categorias categorias" "buscar buscar" "portada portada" "nav1 carrito" "nav1 novedades" "nav1 contenedor" "nav1 contenedor" "footer footer"; }
  body .h3, body h3 {
    font-size: calc(1.3rem); }
  body .h2, body h2 {
    font-size: calc(1.5rem); }
  body .h4, body h4 {
    font-size: calc(1.2rem); }

/* layout */
main {
  display: grid;
  grid-template-areas: "categorias categorias" "buscar buscar" "portada portada" "nav1 carrito" "nav1 novedades" "nav1 contenedor" "nav1 contenedor"; }

.main-carrito {
  display: grid;
  grid-template-areas: "categorias categorias" "buscar buscar" "botones botones"; }

.mainCC {
  display: grid;
  grid-template-areas: "categorias categorias" "buscar buscar" "titulo carrito" "como como"; }

.ayuda {
  display: grid;
  grid-template-areas: "categorias categorias" "buscar buscar" "titulo carrito" "faq faq"; }

header {
  background-color: #E8DDD9;
  text-align: center;
  box-shadow: 10px 5px 10px #adadad;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center; }
  header h1 {
    color: #E04E4E;
    font-family: 'Poppins', sans-serif;
    font-size: 600%;
    text-align: center;
    font-weight: 700; }
  header h4 {
    color: #5C1540;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center; }

.navbar {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  grid-area: categorias;
  padding: 1rem;
  grid-column: 1/3;
  --bs-navbar-color: #E04E4E;
  --bs-navbar-background-color: #f9fab2;
  --bs-navbar-hover-color: #5C1540; }
  .navbar .menu {
    list-style-type: none; }
    .navbar .menu li {
      display: inline-block;
      text-align: center;
      background-color: #f9fab2;
      border-radius: 0.3rem;
      padding-inline: 2.5rem;
      margin: 0.5rem; }
      .navbar .menu li .nav-item {
        text-decoration: none;
        display: inline-block;
        color: #E04E4E; }
        .navbar .menu li .nav-item:hover {
          color: #5C1540; }
        .navbar .menu li .nav-item ul {
          display: none;
          position: absolute;
          width: 300px;
          height: 550px;
          text-align: left;
          transition: all 2s ease;
          margin: 1rem; }
          .navbar .menu li .nav-item ul li {
            display: inline-block;
            text-align: left; }
            .navbar .menu li .nav-item ul li:hover {
              display: block;
              background-color: #f9fab2;
              text-align: left; }

.dropdown-menu {
  --bs-dropdown-color: #E04E4E;
  --bs-dropdown-bg: #f9fab2; }

ul li:hover ul {
  display: block;
  background-color: #f9fab2;
  text-align: left; }

.buscar {
  text-align: center;
  box-sizing: content-box;
  size: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: buscar; }
  .buscar .btn-outline-secondary {
    --bs-btn-color: #5C1540;
    --bs-btn-border-color: #5C1540;
    --bs-btn-color-bg: #E8DDD9;
    --bs-btn-hover-bg: #5C1540;
    --bs-btn-hover-color: #fff; }
  .buscar .text {
    width: 500px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 15px;
    border-color: #5C1540; }

.contenedor {
  display: flex;
  margin: 2px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-area: contenedor; }
  .contenedor .imagenes {
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px; }
    .contenedor .imagenes:hover {
      transform: scale(1.1, 1.1); }
    .contenedor .imagenes li a {
      text-decoration: none;
      color: #E04E4E; }
      .contenedor .imagenes li a:hover {
        color: #5C1540;
        text-decoration: underline; }
  .contenedor .pagination {
    --bs-pagination-color: #E04E4E;
    --bs-pagination-hover-color: #5C1540;
    font-family: 'Poppins', sans-serif; }

footer {
  background-color: beige;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  grid-area: footer;
  padding: 1rem; }
  footer .redes {
    text-align: left;
    margin-left: 50px; }
  footer .app {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 50px; }
  footer .h5, footer h5 {
    font-size: 1rem; }

.carrito {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  margin-right: 2rem;
  grid-area: carrito;
  padding: 1rem; }
  .carrito a {
    text-decoration: none;
    color: #E04E4E; }
    .carrito a:hover {
      color: #5C1540; }

.novedades {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-area: novedades; }
  .novedades h2 {
    text-align: center; }

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagenes/portada.jpg);
  background-size: cover;
  grid-area: portada; }

.nav1 {
  background-color: #E8DDD9;
  grid-area: nav1;
  font-family: 'Poppins', sans-serif;
  display: flex;
  border-radius: 0.5rem; }
  .nav1 .filtro1 {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    margin: 20px;
    list-style-type: none;
    padding: 1rem;
    --bs-link-color: #5C1540;
    --bs-link-hover-color: #5C1540; }

.mb-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 25rem;
  justify-content: center;
  justify-items: center;
  align-content: center; }
  .mb-3 .btn-primary {
    --bs-btn-color: #f1e8ee;
    --bs-btn-border-color: #5C1540;
    --bs-btn-bg: #5C1540;
    --bs-btn-hover-border-color: #5C1540;
    --bs-btn-hover-bg: #f1e8ee;
    --bs-btn-hover-color: #5C1540; }

.list-group {
  font-family: 'Poppins', sans-serif;
  --bs-list-group-color: #5C1540;
  margin-left: 15rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  width: 40rem;
  height: 25rem;
  grid-area: como; }

h3 {
  font-family: 'Poppins', sans-serif;
  display: flex;
  margin-left: 5rem;
  grid-area: titulo; }

.accordion {
  --bs-accordion-active-color: #5C1540;
  --bs-accordion-active-bg: #e7f1ff;
  --bs-accordion-btn-focus-box-shadow: #ebc9dd;
  --bs-accordion-btn-focus-border-color: #e7bcd6;
  width: 45rem;
  margin-left: 18rem;
  margin-right: 20rem;
  margin-bottom: 10rem;
  font-family: 'Poppins', sans-serif;
  grid-area: faq;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1024px) {
  body {
    font-family: 'Oxygen', sans-serif;
    display: grid;
    grid-template-areas: "header header" "hambur buscador" "contenedor contenedor" "contenedor contenedor" "footer footer"; }
    body .categorias {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      display: none;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      grid-area: categorias;
      padding: 1rem; }
    body .portada {
      display: none;
      justify-content: center;
      align-items: center;
      background-image: url(../PLACARD/Imagenes/portada.jpg);
      background-size: cover;
      grid-area: portada; }
    body .nav1 {
      background-color: #E8DDD9;
      grid-area: nav1;
      font-family: 'Poppins', sans-serif;
      display: none;
      border-radius: 0.5rem; }
    body .contenedor {
      display: flex;
      margin: 5px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      grid-area: contenedor; } }

.boton-alerta:hover {
  background-color: #a03475;
  color: #fff; }

.boton-activo:hover {
  background-color: #e6b6d3;
  color: #473a3a; }

.botones {
  grid-area: botones; }
