body{
    background-color: antiquewhite;
}
.contenedor{
    background-color: white;
    width: 90%;
    height: 80vh;
    border: black solid 3px;
    font-size: 2rem;
    text-align: center;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "ab ab c"
    "d ef ef";


}
.hijo{
    background-color: aqua;
    border: 3px solid yellow;
}
.ab{
    background-color: coral;
    grid-area: ab;
}
.ef{
    background-color: violet;
    grid-area: ef;
    
}
.c{
    background-color: green;
    grid-area: c;
}
.d{
    background-color: red;
    grid-area: d;
}
@media screen and (max-width:700px){
  .contenedor{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3 1fr);
      grid-template-areas: 
      "ab ab c"
    "d ef ef";
  }  
  @media screen and (max-width: 600px) {
      .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: 
        "ab"
        "c"
        "d"
        "ef";
      }
      
  }
}
