.boton-clasico{
    @extend .boton;
}
.boton-alerta{
    @extend .boton;
    &:hover{
        background-color: #a03475;
        color: #fff;
    }
}
.boton-activo{
    @extend .boton;
    &:hover{
        background-color: #e6b6d3;
        color: rgb(71, 58, 58);
    }
}
.botones{
    grid-area: botones;
}