.carrito{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    margin-right: 2rem;
    grid-area: carrito;
    padding: 1rem;
    a{
        text-decoration: none;
        color: $colorTit;
            &:hover{
                color: $colorLink;
            }
    }
}    
.novedades{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-area: novedades;
    h2{
        text-align: center;
    }
}
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Imagenes/portada.jpg);
    background-size: cover;
    grid-area: portada;
}
.nav1{
    background-color: $colorFondo;
    grid-area: nav1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    border-radius: 0.5rem;
    .filtro1{
        display: flex;
        flex-direction: column;
        justify-items:start;
        align-items: flex-start;
        margin: 20px;
        list-style-type: none;
        padding: 1rem;
        --bs-link-color: #5C1540;
        --bs-link-hover-color: #5C1540;
    }
}

.mb-3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 25rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    .btn-primary{
        --bs-btn-color: #f1e8ee;
        --bs-btn-border-color: #5C1540;
        --bs-btn-bg: #5C1540;
        --bs-btn-hover-border-color: #5C1540;
        --bs-btn-hover-bg: #f1e8ee;
        --bs-btn-hover-color: #5C1540;}
}

.list-group{
    font-family: 'Poppins', sans-serif;
    --bs-list-group-color: #5C1540;
    margin-left: 15rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 25rem;
    grid-area: como;
}

h3{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 5rem;
    grid-area: titulo;
}

.accordion{
    --bs-accordion-active-color: #5C1540;
    --bs-accordion-active-bg: #e7f1ff;
    --bs-accordion-btn-focus-box-shadow: #ebc9dd;
    --bs-accordion-btn-focus-border-color: #e7bcd6;
    width: 40rem;
    font-family: 'Poppins', sans-serif;
    grid-area: faq;
    display: flex;
    flex-direction: column;
    margin-right: 50rem;
    margin-bottom: 10rem;
}