footer{
    background-color: beige;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    grid-area: footer;
    padding: 1rem;
    .redes{
        text-align: left;
        margin-left: 50px;
    }
    .app{
        text-align: right;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    .h5, h5 {
        font-size: 1rem;
    }
}