*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        font-family: 'Oxygen', sans-serif;
        
        grid-template-areas: 
        "header header"
        "categorias categorias"
        "buscar buscar"
        "portada portada"
        "nav1 carrito"
        "nav1 novedades"
        "nav1 contenedor"
        "nav1 contenedor"
        "footer footer";
        .h3, h3 {
            font-size: calc(1.3rem);
        }
        .h2, h2 {
            font-size: calc(1.5rem);
        }
        .h4, h4 {
            font-size: calc(1.2rem);
        }
        
            
    }