@mixin flexible($direccion){
    display: flex;
    margin: 2px;
    flex-wrap: $direccion;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: contenedor;
}